<div id="confirmation" class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> What's your phone number? <b style="color: red;">*</b></label>
            <p>
              We need this in case we need to get ahold of you during the hackathon!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phone"
                   placeholder="(123) - 555 - 1234"
                   required>
          </div>

          <div class="field dietary">
            <label> Dietary Restrictions </label>

            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed :)
            </p>

            <div class="ui checkbox" ng-repeat="rest in rests">
              <input
                type="checkbox"
                name="selectedRests[]"
                value="{{rest.name}}"
                ng-model="rest.selected"
              ><label>{{rest.name}}</label>
            </div>
          </div>

            <div class="ui header">
              Mailing Address<b style="color: red;">*</b>
            </div>
            <div class="field">
              <label>Full Name</label>
              <input type="text"
                     name="name"
                     ng-model="user.confirmation.address.name">
            </div>

            <div class="field">
              <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
              <input
                type="text"
                name="addressLine1"
                ng-model="user.confirmation.address.line1">
            </div>

            <div class="field">
              <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
              <input
                type="text"
                name="addressLine2"
                ng-model="user.confirmation.address.line2">
            </div>

            <div class="four fields">
              <div class="field">
                <label> City </label>
                <input
                  type="text"
                  name="city"
                  ng-model="user.confirmation.address.city">
              </div>
              <div class="field">
                <label> State/Province/Region </label>
                <input
                  type="text"
                  name="state"
                  ng-model="user.confirmation.address.state">
              </div>
              <div class="field">
                <label> ZIP </label>
                <input
                  type="text"
                  name="zip"
                  ng-model="user.confirmation.address.zip">
              </div>
              <div class="field">
                <label> Country </label>
                <input
                  type="text"
                  name="country"
                  ng-model="user.confirmation.address.country">
              </div>
          </div>

          <br>
          <br>

          <div class="divided title"> Tech Info </div>

          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
          </div>

          <div class="field">
              <label>
                What equipment will you bring?
              </label>
              <input type="text" ng-model="user.confirmation.hardware">
            </div>

          <br>
          <br>

          <div class="divided title">Logistics</div>

          <p>
            These are yes or no questions.  Please check the box if they apply to you.
          </p>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.inviteNeeded">
              <label>
                <strong>
                  I require an invitation letter to obtain a visa.
                </strong>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.openRoom">
              <label>
                <strong>
                  I'm a local or I'm booking a room that I can share with another hacker.
                </strong>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.childcare">
              <label>
                <strong>
                  I need help with childcare during the hackathon.
                </strong>
              </label>
            </div>
          </div>

          <br>
          <br>

          <div class="divided title">Legal</div>

          <div class="field">
              <div class="ui header">
                Release Form <b style="color: red;">*</b>
              </div>
            <!-- <label> Release </label> -->
            <p>
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1nEdxvDFuoMbat0JKzbRdpxuUJwIleZwxLblwpajUNsI/edit?usp=sharing">
                The Release
              </a>
            </p>
            <p>
              You must complete and sign the Reality Virtually Hackathon Release to complete your registration and to participate in the hackathon
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the release above.
            </p>
            <input type="text"
                   name="signatureRelease"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureRelease">
          </div>

          <br>
          <br>

          <div class="divided title">Other</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
